body {
    font-family: 'Roboto';
    font-weight: 400;
    color: #505F98;
}

button {
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
        transition: .3s;
        box-shadow: 0 0 5px #505F98;
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px 55px;
}