#block1 {
    max-width: 100%;
    height: 1200px;
    margin: 0 auto;
    background-image: url('./../img/designer_1.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 68%;
}