.main__content {
    display: flex;
}

.inside__content {
    width: 255px;
    height: 138px;
    margin-right: 30px;
    
    &.inside__content:last-child {
        margin-right: 0;
    }

    h4 {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        color: #091133;
    }
    
    p {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
    }
}